<!DOCTYPE html>
<html>
  <head>
    <title>Mysite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class="logo"><a href="#"><img src="/assets/logo.png"></a></div>
        <ul class="nav-items">
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Feature</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
