<!DOCTYPE html>
<html>
  <head>
    <title>Mysite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/e0fb69895e.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class="logo"><a class="logo-link" href="#"><img src="/assets/logo.png"></a></div>
        <ul class="nav-items">
          <li class="nav-item"><a href="#">Portfolio</a></li>
          <li class="nav-item"><a href="#">Feature</a></li>
          <li class="nav-item"><a href="#">Profile</a></li>
          <li class="nav-item"><a href="#">Contact</a></li>
        </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>©︎ 2017 WebCamp</p>
    </footer>
  </body>
</html>
